.banner-bg {
    background-image: url(../images/Rectangle\ 4.png),
        linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0.228) 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 550px;
    background-repeat: no-repeat;
    object-fit: cover;
}
.heading-font{
    font-family: 'EB Garamond', serif;
}
.legal-section{
    border: 1px solid #E7E7E7;
}
.legal-section:hover{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}
.carousel-img{
    height: 500px;
    border-radius: 10px;
}
.accordion-bg{
    background: #F3F3F3;
    border-radius: 8px;
}
/* .faq-bg{
    height: 570px;
    background-image: url(../images/Framee.png);
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    object-fit: cover;
} */